* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  font-family: 'Sulphur Point', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.button-submit {
  border: none;
  cursor: pointer;
  background: #1b82f9;
}

.button-submit:hover {
  background: #5da9ff;
}


.container {
  width: 100%;
  height: 100%;
  background: #222f3e;
  display: flex;
  background-image: radial-gradient(to center, #141b24, #175da8, #131a22);
  background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #E0FB60 0%, #15FFFF 50%);

}

.container-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-reg {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 420px;
  height: 360px;
  overflow: auto;
  display: flex;
  background: #fff;
  flex-direction: column;
  align-items: left;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(200, 214, 229, 0.596);
  border-radius: 24px;
  position: relative;
}

.form-reg {
  width: 420px;
  height: 700px;
  display: flex;
  background: #000000;
  flex-direction: column;
  align-items: left;
  padding-top: 16px;
  /*padding-bottom: 16px;*/
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(200, 214, 229, 0.596);
  border-radius: 24px;
  position: relative;
}

.form-login {
  width: 420px;
  height: 400px;
  display: flex;
  background: #000000;
  flex-direction: column;
  align-items: left;
  padding-top: 16px;
  /*padding-bottom: 16px;*/
  padding-left: 40px;
  padding-right: 40px;
  border: 1px solid rgba(200, 214, 229, 0.596);
  border-radius: 24px;
  position: relative;
}

form img {
  width: 120px;
  height: 120px;
  margin: 20px;
}

.avatar {
  padding: 3px;
  background: #fff;
  border-radius: 50%;
}

.welcome {
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 13px;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
}

form input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid #d1d1d1;
  font-size: 20px;
  padding: 0 16px;
}

.forgot-password {
  width: 100%;
  text-align: right;
}

.account-options {
  width: 100%;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.account-options a {
  color: #a7a7a7;;
}

button {
  width: 100%;
  height: 52px;
  margin-top: 24px;
  border-radius: 24px;
  border : none;
  font-size: 22px;
  font-weight: bold;
  background: #15FFFF;
  color: #000000;
  
}


button:hover {
  background: #E0FB60;
  background-image: -webkit-linear-gradient(top, #E0FB60, #c3d2b8);
  background-image: -moz-linear-gradient(top, #E0FB60, #c3d2b8);
  background-image: -ms-linear-gradient(top, #E0FB60, #c3d2b8);
  background-image: -o-linear-gradient(top, #E0FB60, #c3d2b8);
  background-image: linear-gradient(to bottom, #E0FB60, #c3d2b8);
  text-shadow: 0px 1px 0px #E0FB60;
  -webkit-box-shadow: 0px 1px 0px fefefe;
  -moz-box-shadow: 0px 1px 0px fefefe;
  box-shadow: 0px 1px 0px fefefe;
  color: #000000;
  text-decoration: none;
}