* {
    box-sizing: border-box;
  }
  body {
    background: #111;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }
  .gallery {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .cards {
    position: absolute;
    width: 14rem;
    height: 18rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cards li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 14rem;
    height: 18rem;
    text-align: center;
    line-height: 18rem;
    font-size: 2rem;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
  }

  .cards li img{
    position: absolute;
    height: 100vh;
    width: 100vw;
    align-content: center;
    align-items: center;

    width: 467.76px;
    height: 467.76px;
    margin-top: 196.82px;
    margin-left: 238.81px;
    box-shadow: 0px 0px 51px -7px rgba(21, 255, 255, 0.9);
    border-radius: 249.5px;
    background-repeat : no-repeat;
    background-size : cover;
    z-index: 1;
  }
  
  .actions {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button {
    display:inline-block;
    outline: none;
    border: none;
    padding: 8px 14px;
    background: #414141;
    background-image: -webkit-linear-gradient(top, #575757, #414141);
    background-image: -moz-linear-gradient(top, #575757, #414141);
    background-image: -ms-linear-gradient(top, #575757, #414141);
    background-image: -o-linear-gradient(top, #575757, #414141);
    background-image: linear-gradient(to bottom, #575757, #414141);
    text-shadow: 0px 1px 0px #414141;
    -webkit-box-shadow: 0px 1px 0px 414141;
    -moz-box-shadow: 0px 1px 0px 414141;
    box-shadow: 0px 1px 0px 414141;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto 10px;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    padding: 12px 25px;
    font-family: "Signika Negative", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
  }
  
  button:hover {
    background: #57a818;
    background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
    background-image: -moz-linear-gradient(top, #57a818, #4d9916);
    background-image: -ms-linear-gradient(top, #57a818, #4d9916);
    background-image: -o-linear-gradient(top, #57a818, #4d9916);
    background-image: linear-gradient(to bottom, #57a818, #4d9916);
    text-shadow: 0px 1px 0px #32610e;
    -webkit-box-shadow: 0px 1px 0px fefefe;
    -moz-box-shadow: 0px 1px 0px fefefe;
    box-shadow: 0px 1px 0px fefefe;
    color: #ffffff;
    text-decoration: none;
  }
  
  button {
    font-size: 20px;
    font-weight: 400;
  }
  
  a {
    color: #88ce02;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
/*---------------------------------------------*/
.slider{
    /*width: 640px;
    height: 480px;*/
    position: absolute;
    margin: 0 auto;
    float: left;
}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: absolute;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
}
ul.imgs li img{
    position: absolute;
    height: 100vh;
    width: 100vw;
    align-content: center;
    align-items: center;
}
ul.imgs li img.center{
    width: 467.76px;
    height: 467.76px;
    margin-top: 196.82px;
    margin-left: 238.81px;
    box-shadow: 0px 0px 51px -7px rgba(21, 255, 255, 0.9);
    border-radius: 249.5px;
    background: url(https://sleeplessaliana1.files.wordpress.com/2022/05/big-naughty-ft.-meenoi-lovey-dovey.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    z-index: 1;
}
ul.imgs li img.left{
    width: 275px;
    height: 275px;
    margin-top: 293px;
    margin-left: 41px;
    border-radius: 194.5px;
    background: url(https://i.ytimg.com/vi/WxM0qO29RM8/maxresdefault.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    z-index: 0;
}

ul.imgs li img.right{
    width: 275px;
    height: 275px;
    margin-top: 293px;
    margin-left: 627px;
    border-radius: 194.5px;
    z-index: 0;
    background-image: url(https://i.ytimg.com/vi/ebXbLfLACGM/default.jpg);
    background-repeat : no-repeat;
    background-size : cover;
}

.info_text li {
    list-style: none;
}
.info_text li.title{
    position: absolute;
    width: 190px;
    height: 38px;
    margin-top: 600px;
    margin-left: 381px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;

    /* color */

    background: linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.info_text li.singer{
    position: absolute;
    width: 127px;
    height: 29px;
    margin-top: 650px;
    margin-left: 408px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: rgba(255, 255, 255, 0.7);
}
.bullets{
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.bullets label.play{
    position: absolute;
    height: 51px;
    width: 34.42499923706055px;
    margin-top: 700px;
    margin-bottom: 95px;
    margin-left: 453.23px;
    border-radius: 0px;
}
.bullets label.left{
    position: absolute;
    margin-top: 708px;
    margin-bottom: 103px;
    margin-left: 308px;
    height: 34.99999618530287px;
    width: 32.000003814697386px;

    border-radius: 0px;
}
.bullets label.right{
    position: absolute;
    margin-top: 708px;
    margin-bottom: 103px;
    margin-left: 601px;
    height: 34.99999618530287px;
    width: 32.000003814697386px;

    border-radius: 0px;
}

/*------------------------리스트(오른쪽)---------------------*/
.list{
    float: right;
    position: absolute;
}
.list p.pl{
    width: 86px;
    height: 29px;
    margin-top: 183px;
    margin-left: 1014px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #E0FB60;
}
.list hr.list{
    width: 463px;
    height: 0px;
    margin-top: 218px;
    margin-left: 1471px;

    /* color */
    background: linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
    transform: rotate(180deg);
}

/*-------------------header-----------------------*/
.toggleSwitch {
    width: 6rem;
    margin: 2rem;
    height: 3rem;
    display: block;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
    cursor: pointer;
    box-sizing: border-box;
    border: 4px solid linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
  }
  
  .toggleSwitch .toggleButton {
    background: linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 50%;
    left: .2rem;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
  }
  
  /* 체크박스가 체크되면 변경 이벤트 */
  #toggle:checked ~ .toggleSwitch {
    background: #181818;
    border: 2px solid linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
  }
  
  #toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 2.8rem);
  }
  
  .toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
  }
