.slider{
    width: 640px;
    height: 480px;
    position: absolute;
    margin: 0 auto;
}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: relative;
    left: 640px;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
}
ul.imgs li img{
    position: relative;
    
}
ul.imgs li img.center{
    width: 467.76px;
    height: 467.76px;
    margin-top: 196.82px;
    margin-left: 238.81px;

    box-shadow: 0px 0px 51px -7px rgba(21, 255, 255, 0.9);
    border-radius: 249.5px;
}
ul.imgs li img.left{
    width: 275px;
    height: 275px;
    margin-top: 293px;
    margin-left: 41px;

    border-radius: 194.5px;
}

ul.imgs li img.right{
    width: 275px;
    height: 275px;
    margin-top: 293px;
    margin-left: 627px;

    border-radius: 194.5px;
}

.bullets{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.bullets label.play{
    position: relative;
    height: 51px;
    width: 34.42499923706055px;
    margin-top: 828px;
    margin-left: 453.23px;
    border-radius: 0px;
}
.bullets label.left{
    position: relative;
    margin-top: 836px;
    margin-left: 308px;
    background: rgba(255, 255, 255, 0.5);
    height: 34.99999618530287px;
    width: 32.000003814697386px;

    border-radius: 0px;
}
.bullets label.right{
    position: relative;
    margin-top: 836px;
    margin-left: 601px;
    background: rgba(255, 255, 255, 0.5);
    height: 34.99999618530287px;
    width: 32.000003814697386px;

    border-radius: 0px;
}
/*
.slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}
.slider input[type=radio]:nth-child(4):checked~.bullets>label:nth-child(4){
    background-color: #fff;
}
*/

/* 1 */
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    left: 0;
    transition: 0.75s;
    z-index:1;
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(2){
    left: 90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(3){
    left: 170px;
    transition: 0.75s;
    z-index:-1;
    transform: scale(0.8);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(4){
    left: 230px;
    transition: 0.75s;
    z-index:-2;
    transform: scale(0.7);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}

/* 2 */
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(1){
    left: -90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    left: 0;
    transition: 0.75s;
    z-index:1;
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}

.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(3){
    left: 90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(4){
    left: 170px;
    transition: 0.75s;
    z-index:-1;
    transform: scale(0.8);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}

/* 3 */
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(1){
    left: -170px;
    transition: 0.75s;
    z-index:-1;
    transform: scale(0.8);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(2){
    left: -90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    left: 0;
    transition: 0.75s;
    z-index:1;
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(4){
    left: 90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}


/* 4 */
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(1){
    left: -230px;
    transition: 0.75s;
    z-index:-2;
    transform: scale(0.7);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(2){
    left: -170px;
    transition: 0.75s;
    z-index:-1;
    transform: scale(0.8);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(3){
    left: -90px;
    transition: 0.75s;
    z-index:0;
    transform: scale(0.9);
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider input[type=radio]:nth-child(4):checked~ul.imgs>li:nth-child(4){
    left: 0;
    transition: 0.75s;
    z-index:1;
    box-shadow: 14px -5px 35px -21px rgba(0,0,0,0.66);
}
.slider{
    /*width: 640px;
    height: 480px;*/
    position: relative;
    margin: 0 auto;
    float: left;
}
.slider input[type=radio]{
    display: none;
}

ul.imgs{
    padding: 0;
    margin: 0;
}
ul.imgs li{
    position: relative;
    transition-delay: 1s;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 30px;
}
ul.imgs li img{
    position: absolute;
    
}
ul.imgs li img.center{
    width: 467.76px;
    height: 467.76px;
    margin-top: 196.82px;
    margin-left: 238.81px;
    box-shadow: 0px 0px 51px -7px rgba(21, 255, 255, 0.9);
    border-radius: 249.5px;
    z-index: 1;
}
ul.imgs li img.left{
    width: 275px;
    height: 275px;
    margin-top: 293px;
    margin-left: 41px;
    border-radius: 194.5px;
    z-index: 0;
}

ul.imgs li img.right{
    width: 275px;
    height: 275px;
    margin-top: 293px;
    margin-left: 627px;
    border-radius: 194.5px;
    z-index: 0;
}

.info_text li {
    list-style: none;
}
.info_text li.title{
    position: absolute;
    width: 190px;
    height: 38px;
    margin-top: 727px;
    margin-left: 381px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;

    /* color */

    background: linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.info_text li.singer{
    position: absolute;
    width: 127px;
    height: 29px;
    margin-top: 771px;
    margin-left: 408px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: rgba(255, 255, 255, 0.7);
}
.bullets{
    position: relative;
    transform: translateX(-50%);
    z-index: 2;
}
.bullets label{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.bullets label.play{
    position: absolute;
    height: 51px;
    width: 34.42499923706055px;
    margin-top: 828px;
    margin-bottom: 95px;
    margin-left: 453.23px;
    border-radius: 0px;
}
.bullets label.left{
    position: absolute;
    margin-top: 836px;
    margin-bottom: 103px;
    margin-left: 308px;
    height: 34.99999618530287px;
    width: 32.000003814697386px;

    border-radius: 0px;
}
.bullets label.right{
    position: absolute;
    margin-top: 836px;
    margin-bottom: 103px;
    margin-left: 601px;
    height: 34.99999618530287px;
    width: 32.000003814697386px;

    border-radius: 0px;
}

/*------------------------리스트(오른쪽)---------------------*/
.list{
    float: right;
    position: absolute;
}
.list p.pl{
    width: 86px;
    height: 29px;
    margin-top: 183px;
    margin-left: 1014px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #E0FB60;
}
.list hr.list{
    width: 463px;
    height: 0px;
    margin-top: 218px;
    margin-left: 1471px;

    /* color */
    background: linear-gradient(107.86deg, #E0FB60 6.96%, #15FFFF 100.34%);
    transform: rotate(180deg);
}