<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>Artech: NFT를 활용한 새로운 형태의 포트폴리오</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    -->
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/search.css">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">보담</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" >홈</a>
              <li><a href="/authors">작가</a>
              <li ><a href="/art">작품</a>
                <li><a href="/NFT">NFT</a></li>
                <li class="searchBox">
                  <input id="searchInput" class="searchInput" type="text" name="" placeholder="Search..." value="">
                          <i class="searchButton fa fa-search" onclick="javascript:btn()"></i>
                </li>
                <li id="Login"><a href="/login">Login</a></li>
                <li style="display:none" id="MyPage" ><a href="/author_portfolio">MyPage</a></li>
                <li style="display:none" id="Logout" ><a>Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module bg-dark-60 portfolio-page-header" data-background="/images/sun.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">작가들</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <h2>디자인 예술 대학</h2>
            <br>
            <div class="row">
              <div class="col-sm-12">
                <ul class="filter font-alt" id="filters">

                    <li><a class="current wow fadeInUp" href="#" data-filter="*">ALL</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".커뮤니케이션디자인전공" data-wow-delay="0.2s">커뮤니케이션디자인전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".패션디자인전공" data-wow-delay="0.2s">패션디자인전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".텍스타일디자인전공" data-wow-delay="0.4s">텍스타일디자인전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".스페이스디자인전공" data-wow-delay="0.6s">스페이스디자인전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".세라믹디자인전공" data-wow-delay="0.6s">세라믹디자인전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".인더스트리얼디자인전공" data-wow-delay="0.6s">인더스트리얼디자인전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".AR.VR디자인전공" data-wow-delay="0.6s">AR.VR디자인전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".영화영상전공" data-wow-delay="0.6s">영화영상전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".연극전공" data-wow-delay="0.6s">연극전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".무대미술전공" data-wow-delay="0.6s">무대미술전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".사진영상미디어전공" data-wow-delay="0.6s">사진영상미디어전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".디지털만화영상전공" data-wow-delay="0.6s">디지털만화영상전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".web문화예술경영전공design" data-wow-delay="0.6s">문화예술경영전공</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".디지털콘텐츠전공" data-wow-delay="0.6s">디지털콘텐츠전공</a></li>
                  </ul>
                </ul>
              </div> 
            </div>
            <ul class="works-grid works-grid-gut works-grid-4 works-hover-w" id="works-grid">
              <% for(let row of rows) { %>
                <li class="work-item <%=row.major%>"><a href='/author_portfolio?user=<%=row.username%>'>
                  <div class="work-image"><img src='<%=row.ipfs_link2%>' alt="Portfolio Item"/></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title"><%=row.username%></h3>
                  </div></a></li>
                  <% } %>
            </ul>
          </div>

        </section>

        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">보담</h5>
                  <p>대한민국 최고의 아트플랫폼, 그들의 가치를 보장해주다.</p>
                  <p>전화번호: 010-4339-8873</p> 
                  <p>이매일: rmrehd604@gmail.com</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">이달의 디자이너들</h5>
                  <ul class="icon-list">
                    <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                    <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                    <li>Andy on <a href="#">Eco bag Mockup</a></li>
                    <li>Jack on <a href="#">Bottle Mockup</a></li>
                    <li>Mark on <a href="#">Our trip to the Alps</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">작품 유형</h5>
                  <ul class="icon-list">
                    <li>Image - 3</li>
                    <li>Video - 12</li>
                    <li>Document - 2</li>
                    <li>GIF - 2</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">이달의 작품들</h5>
                  <ul class="widget-posts">
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-1.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                        <div class="widget-posts-meta">23 january</div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-2.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                        <div class="widget-posts-meta">15 February</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2022&nbsp;<a href="/">보담</a>  prototype</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/lib/smoothscroll.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="/js/home/plugins.js"></script>
    <script src="/js/home/main.js"></script>
  </body>
</html>