<!DOCTYPE html>
<<<<<<< HEAD
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  
    Document Title
    =============================================
    -->
  <title>ID/PW 찾기</title>
  <!--  
    Favicons
    =============================================
    -->

  <meta name="theme-color" content="#ffffff">
  <!--  
    Stylesheets
    =============================================
    
    -->
  <!-- Default stylesheets-->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Template specific stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="/lib/animate.css/animate.css" rel="stylesheet">
  <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
  <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
  <!-- Main stylesheet and color file-->
  
  <link href="/css/style_test.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
   <div class="container">
    <div class="container-login">
      <form action="/find_id">
        <div class="welcome">Find your account ID</div>
        <p>Name</p>
        <input type="text" name="name" placeholder="Name">
        <p>Email</p>
        <input type="email" name="email" placeholder="E-mail">
        <div class="account-options">
          <a href="#">Create account</a>
          <a href="find-pw">Forgot password</a>
        </div>
        <button class="button-submit" type="submit">Submit</button>
      </form>
    </div>
  </div>

  
  <!--  
    JavaScripts
    =============================================
    -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/wow/dist/wow.js"></script>
  <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="/lib/flexslider/jquery.flexslider.js"></script>
  <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="/lib/smoothscroll.js"></script>
  <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="/js/home/plugins.js"></script>
  <script src="/js/home/main.js"></script>
</body>

</html>
=======
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- SEO -->
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://www.yourdomainname.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">
    
    
    <title>SMU Hackaton</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="images/favicon/apple-touch-icon.png">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugin.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    
    
    

 </head>

  <body>
    
    
	
	<!-- Preloader Start -->
    <div id="preloader">
	  <div class="loader"></div>
    </div>
    <!-- Preloader End -->

    
    
    <!-- Home & Menu Section Start -->
    <header id="home" class="home-section">
        
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                
                  <!-- 여기가 로고랑 메뉴 사이 벌리기 클수록 많이 벌어짐-->
                    <div class="col-sm-6">
                        <div class="logo">
                            <a href="/">Rolling</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="navigation-menu">
                            <div class="navbar">
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav me-auto">
                                        <li class="nav-item"><a class="smoth-scroll" href="#home">Home <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a>
                                        </li>
                                        <li style="display: none;" id="mypage_menu"><a class="nav-link" href="#">MyPage</a>
                                        </li>
                                        <li id="login_menu" class="nav-item"><a class="nav-link" href="login">Login</a>
                                        </li>
                                        <li id="signup_menu"><a href="register">Sign up</a>
                                        </li>
                                        <li style="display: none;" id="logout_menu"><a>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="home-section-background" data-stellar-background-ratio="0.6">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="header-text">
                                    <p>Hi! This is John Doe</p>
                                    <h1><span class="typing"></span></h1>
                                    
                                    <div class="margin-top-60">
                          <a class="button button-style button-style-icon fa fa-long-arrow-right smoth-scroll" href="#portfolio">View Portfolio</a>
                                  </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <!-- Home & Menu Section End-->
    
    
    

    
    <!-- Portfolio Start -->
    <section id="portfolio" class="portfolio section-space-padding">
        <div class="container">
            <div class="row">
                <div style="text-align:center;" class="col-sm-20">
                  <h1>My Portfolio.</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
            </div>
            
            <div class="row">
                <ul class="portfolio">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".apps">apps</li>
                    <li class="filter" data-filter=".mockups">mockups</li>
                    <li class="filter" data-filter=".wordpress">wordpress</li>
                </ul>
            </div>
            
            <div class="portfolio-inner">
                <div class="row">
                
                
                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="images/portfolio/1.jpg" class="portfolio-popup" title="Project Title">
                                <img src="images/portfolio/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix mockups">
                        <div class="item">
                            <a href="images/portfolio/2.jpg" class="portfolio-popup" title="Project Title">
                                <img src="images/portfolio/2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps">
                        <div class="item">
                            <a href="images/portfolio/3.jpg" class="portfolio-popup" title="Project Title">
                                <img src="images/portfolio/3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix mockups wordpress">
                        <div class="item">
                            <a href="images/portfolio/4.jpg" class="portfolio-popup" title="Project Title">
                                <img src="images/portfolio/4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix wordpress apps">
                        <div class="item">
                            <a href="images/portfolio/5.jpg" class="portfolio-popup" title="Project Title">
                                <img src="images/portfolio/5.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 mix apps mockups wordpress" title="Project Title">
                        <div class="item">
                            <a href="images/portfolio/6.jpg" class="portfolio-popup">
                                <img src="images/portfolio/6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="text-center margin-top-50">
          <a class="button button-style button-style-dark button-style-icon fa fa-long-arrow-right smoth-scroll" href="#contact">Let's Discuss</a>
            </div>
     
     </section>
    <!-- Portfolio End -->
    
    
    
    
       
        
        
        
    <!-- Footer Start -->
    <footer style="background-color:rgba(3, 5, 33, 1)" class="footer-section">
    <!-- Contact Start -->
    <section id="contact" style="background-color:rgba(3, 5, 33, 1)" class="contact-us section-space-padding">
      <div class="container">
         <div class="row">
               <div style="text-align: center;" class="col-sm-20">
                       <h2 style="color: white;">Contact Our Team.</h2>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
               </div>
           </div>
           
           
          <div class="text-center margin-top-10 margin-bottom-50">
           <div class="row">
           
              <div class="col-md-4 col-sm-4">
               <div class="contact-us-detail">  
                <i class="fa fa-mobile color-6"></i>
                 <p><a href="tel:+01043398873">010-4339-8873</a></p>
                </div>
               </div>
              
              <div class="col-md-4 col-sm-4">
               <div class="contact-us-detail">
                <i class="fa fa-mail-reply color-5"></i>
                 <p><a href="mailto:rmrehd604@gmail.com">rmrehd604@gmail.com</a></p>
                </div>
               </div>
                
              <div class="col-md-4 col-sm-4">
               <div class="contact-us-detail">
                <i class="fa fa-clock-o color-3"></i>
                 <p>Mon - Fri 09:00 – 18:00</p>
                </div>
               </div>
             
              </div>
             </div>
           
        
        <div class="row">
          
          <div class="col-md-6">   
                
              <div class="row">
                 <form>
                   
           <div class="col-sm-6">
           <div class="form-group">
             <input type="text" id="name" class="form-control" placeholder="Your Name">
            </div>
                       </div>
               
                      <div class="col-sm-6">
             <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="Your Email">
            </div>
                       </div>
                       
                       <div class="col-sm-6">
             <div class="form-group">
             <input type="text" id="website" class="form-control" placeholder="Your Website">
              </div>
                         </div>
                         
                       <div class="col-sm-6">
             <div class="form-group">
             <input type="text" id="address" class="form-control" placeholder="Where are You From?">
              </div>
                         </div>
               
                        <div class="col-sm-12">
             <select id="subject" class="form-group form-control">
             <option value="" selected disabled>Subject</option>
             <option>Website Design & Development</option>
             <option>Wordpress Development</option>
             <option>Search Engine Optimization</option>
                           <option>Mobile Website</option>
             <option>I Want to General Talk</option>
                           <option>Other</option>
              </select>
                         </div>
               
                      <div class="col-sm-12">
             <div class="textarea-message form-group">
               <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
             </div>
                        </div>
                  
                  
                   <div class="text-center">      
                    <button type="submit" style="background-color:rgba(58, 48, 186, 1); width:50%;" class="btn btn-outline-secondary">Submit</button>
                   </div>
                      
                 </form>
                  
       </div>
              </div>
           
           
           <div class="col-md-6">   
             <div id="my-address" class="map space-set">
             <p>Map will not be display without Internet Connection.</p>
           </div>
          </div>
          
       
       </div>
      </div>
      
     <div class="margin-top-80 pull-right"> 
      <ul class="social-icon">
        <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
     </div>
      
    </section>
    <br>
    <br>
    <br>
    <!-- Contact End -->
    </footer>
    <!-- Footer End -->
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- Back to Top End -->
    
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/lib/smoothscroll.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    
    <!-- All Javascript Plugins  -->
    <script src="js/home/plugins.js"></script>
    
    <!-- Main Javascript File  -->
    <script src="js/home/scripts.js"></script>
    <script src="js/home/main.js"></script>
  

  
  </body>
 </html>
>>>>>>> origin/현우
