<!DOCTYPE html>
<html lang="ko">
  <head>
    <style type="text/css">
      #banner_online {
          height: 270px;
          width: 350px;
          border: 1px solid black;
          box-shadow: 3px 3px 7px 1px grey;
          background-color: white;
          z-index: 9999;
          margin-left: 36%;
          margin-top: 6%;
          display: none;
          position: fixed;
      }
      #banner_online h2 {
          text-align: center;
          font-size: 17px;
          margin-bottom: 10px;
      }
      
      #banner_online p .second {
          margin-left: 6px;
      }
      
      .pop_content {
          font-size: 13px;
          margin-left: 20px;
      }
      
      #banner_online_how {
          height: 78px;
          width: 444px;
          margin-left: 28px;
          border: 1px solid #82bf77;
          margin-top: 22px;
      }
      
      #banner_online_how h3 {
          font-size: 12px;
          margin-left: 6px;
          margin-top: 16px;
      }
      
      #close_button {
          float: right;
          margin-top: -3px;
      }
      
      .p_bottom {
          margin-left: 30px;
      }
      
      #modal {
        position:fixed;
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 99;
        display: none;
        
      }
      
      </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>Artech: NFT를 활용한 새로운 형태의 포트폴리오</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/css/colors/default.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/search.css">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">보담</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" >홈</a>
              <li><a href="/authors">작가</a>
              <li ><a href="/art">작품</a>
                <li><a href="/NFT">NFT</a></li>
                  <li class="searchBox">
                    <input id="searchInput" class="searchInput" type="text" name="" placeholder="Search..." value="">
                            <i class="searchButton fa fa-search" onclick="javascript:btn()"></i>
                  </li>
                  <li id="Login"><a href="/login">Login</a></li>
                  <li style="display:none" id="MyPage"><a>MyPage</a></li>
                  <li style="display:none" id="Logout" ><a>Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main">
        <section class="module bg-dark-30" data-background="/images/login_back.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt mb-0">Register</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row" style="display:flex; justify-content:center; text-align:center;">
              <div class="col-sm-5">
                <h4 class="font-alt">회원가입</h4>
                <hr class="divider-w mb-10">
                <form class="form">
                  <div class="form-group">
                    <input class="form-control" id="email" type="text" name="email" placeholder="Email"/>
                    <p class="help-block" id="email-message"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="username" type="text" name="username" placeholder="Username"/>
                    <p class="help-block" id="username-message"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="password" type="password" name="password" placeholder="Password"/>
                    <p class="help-block" id="password-message"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="re-password" type="password" name="re-password" placeholder="Re-enter Password"/>
                    <p class="help-block" id="repassword-message"></p>
                  </div>
                  <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">전공</label>
                    <div class="col-sm-12 col-md-7">
                      <select class="form-control" id="major" name="major">
                        <option selected="selected">전체</option>
                        <option>커뮤니케이션디자인전공</option>
                        <option>텍스타일디자인전공</option>
                        <option>세라믹디자인전공</option>
                        <option>AR·VR미디어디자인전공</option>
                        <option>패션디자인전공</option>
                        <option>스페이스디자인전공</option>
                        <option>인더스트리얼디자인전공</option>
                        <option>영화영상전공</option>
                        <option>연극전공</option>
                        <option>무대미술전공</option>
                        <option>사진영상미디어전공</option>
                        <option>디지털만화영상전공</option>
                        <option>문화예술경영전공</option>
                        <option>디지털콘텐츠전공</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row mb-4">
                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">생년월일</label>
                    <div class="col-sm-12 col-md-7">
                        <input type="date" class="form-control" id="birth" name="birth">
                        <p class="help-block" id="birth-message"></p>
                    </div>
                  </div>
                  <form class="row" style="display:flex; justify-content: left; text-align:left; float:left;">
                    <h6 class="font-alt" style="text-align: left;"><input type="checkbox" name="xxx" value="yyy" id="checkBox">  개인 정보 수집 동의</h6>
                    <h6 class="font-alt" style="text-align: right;"><a id="openModalPop"><u>확인하기</u></a></h6>
                  </form>
                </form>
                  <button class="btn btn-block btn-round btn-b" id="register_btn">회원가입</button>
              </div>
            </div>
          </div>
        </section>
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">보담</h5>
                  <p>대한민국 최고의 아트플랫폼, 그들의 가치를 보장해주다.</p>
                  <p>전화번호: 010-4339-8873</p> 
                  <p>이매일: rmrehd604@gmail.com</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">이달의 디자이너들</h5>
                  <ul class="icon-list">
                    <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                    <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                    <li>Andy on <a href="#">Eco bag Mockup</a></li>
                    <li>Jack on <a href="#">Bottle Mockup</a></li>
                    <li>Mark on <a href="#">Our trip to the Alps</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">작품 유형</h5>
                  <ul class="icon-list">
                    <li>Image - 3</li>
                    <li>Video - 12</li>
                    <li>Document - 2</li>
                    <li>GIF - 2</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">이달의 작품들</h5>
                  <ul class="widget-posts">
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="/images/rp-1.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                        <div class="widget-posts-meta">23 january</div>
                      </div>
                    </li>
                    <li class="clearfix">
                      <div class="widget-posts-image"><a href="#"><img src="/images/rp-2.jpg" alt="Post Thumbnail"/></a></div>
                      <div class="widget-posts-body">
                        <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                        <div class="widget-posts-meta">15 February</div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2022&nbsp;<a href="/">보담</a>  prototype</p>
              </div>
              <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    <div id= "modal"></div>
    <div id = "banner_online" style="width: 700px; height: 500px; position:fixed; top:-20%; left:50%; transform: translate(-50%,50%); margin:0 auto;">
        <div id="close_button" style ="cursor: pointer;"> 
            <img src="/images/ic_close.svg">
        </div>
        <h2 style="text-align: center;" class="font-alt">개인 정보 수집 동의서</h2>
        <div class="pop_content" style="overflow-y:auto; max-height: 80%; width: 600px; -webkit-overflow-scrolling:touch; margin:0 auto; white-space:normal;">
            <pre class="font-alt" style="white-space: pre-line; word-break:normal;">
 개인정보처리자는 다음의 어느 하나에 해당하는 경우에는 개인정보를 수집할 수 있으며 그 수집 목적의 범위에서 이용할 수 있습니다(「개인정보 보호법」 제15조제1항).
 정보주체의 동의를 받은 경우
 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우
 공공기관이 법령 등에서 정하는 소관 업무의 수행을 위하여 불가피한 경우
 정보주체와의 계약의 체결 및 이행을 위하여 불가피하게 필요한 경우
 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우
 개인정보처리자의 정당한 이익을 달성하기 위하여 필요한 경우로서 명백하게 정보주체의 권리보다 우선하는 경우. 이 경우 개인정보처리자의 정당한 이익과 상당한 관련이 있고 합리적인 범위를 초과하지 않은 경우에 한함
    ※ 이를 위반하여 개인정보를 수집한 자는 5천만원 이하의 과태료를 부과받습니다(「개인정보 보호법」 제75조제1항제1호).
    ※ 개인정보처리자란 업무를 목적으로 개인정보파일을 운용하기 위하여 스스로 또는 다른 사람을 통하여 개인정보를 처리하는 공공기관, 법인, 단체 및 개인 등을 말합니다(「개인정보 보호법」 제2조제5호).
 개인정보처리자는 위에 따른 동의를 받을 때에는 다음의 사항을 정보주체에게 알려야 합니다. 다음의 어느 하나의 사항을 변경하는 경우에도 이를 알리고 동의를 받아야 합니다(「개인정보 보호법」제15조제2항).
 개인정보의 수집·이용 목적
 수집하려는 개인정보의 항목
 개인정보의 보유 및 이용 기간
 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용
    ※ 이를 위반하여 정보주체에게 알려야 할 사항을 알리지 않은 자는 3천만원 이하의 과태료를 부과받습니다(「개인정보 보호법」제75조제2항제1호).
 개인정보처리자는 당초 수집 목적과 합리적으로 관련된 범위에서 정보주체에게 불이익이 발생하는지 여부, 암호화 등 안전성 확보에 필요한 조치를 하였는지 여부 등을 고려하여 정보주체의 동의 없이 개인정보를 이용할 수 있습니다(「개인정보 보호법」제15조제3항).
개인정보의 수집 제한
 개인정보처리자는 개인정보를 수집하는 경우에는 그 목적에 필요한 최소한의 개인정보를 수집해야 합니다. 이 경우 최소한의 개인정보 수집이라는 입증책임은 개인정보처리자가 부담합니다(「개인정보 보호법」 제16조제1항).
 개인정보처리자는 정보주체의 동의를 받아 개인정보를 수집하는 경우 필요한 최소한의 정보 외의 개인정보 수집에는 동의하지 않을 수 있다는 사실을 구체적으로 알리고 개인정보를 수집해야 합니다(「개인정보 보호법」 제16조제2항).
    ※ “정보주체”란 처리되는 정보에 의하여 알아볼 수 있는 사람으로서 그 정보의 주체가 되는 사람을 말합니다(「개인정보 보호법」 제2조제3호).
 개인정보처리자는 동의를 서면(「전자문서 및 전자거래 기본법」 제2조제1호에 따른 전자문서를 포함)으로 받을 때에는 개인정보의 수집·이용 목적, 수집·이용하려는 개인정보의 항목 등 중요한 내용을 명확히 표시하여 알아보기 쉽게 해야 합니다(「개인정보 보호법」 제22조제2항).
 개인정보처리자는 정보주체가 필요한 최소한의 정보 외의 개인정보 수집에 동의하지 않는다는 이유로 정보주체에게 재화 또는 서비스의 제공을 거부해서는 안 됩니다(「개인정보 보호법」 제16조제3항).
 이를 위반하여 재화 또는 서비스의 제공을 거부한 자는 3천만원 이하의 과태료를 부과받습니다(「개인정보 보호법」 제75조제2항제2호).
정보주체의 동의를 받는 경우
 개인정보처리자는 개인정보의 처리에 대하여 정보주체(14세 미만 아동의 정보수집의 경우에는 그 법정대리인을 포함)의 동의를 받을 때에는 각각의 동의 사항을 구분하여 정보주체가 이를 명확하게 인지할 수 있도록 알리고 각각 동의를 받아야 합니다(「개인정보 보호법」 제22조제1항).
 개인정보처리자는 만 14세 미만 아동의 개인정보를 처리하기 위하여 정보주체의 동의를 받아야 할 때에는 그 법정대리인의 동의를 받아야 합니다. 이 경우 해당 아동으로부터 직접 법정대리인의 성명·연락처에 관한 정보를 수집할 수 있습니다(「개인정보 보호법」 제22조제6항).
 개인정보처리자는 개인정보의 수집·이용 또는 민감정보나 고유식별정보의 처리에 대해 정보주체의 동의를 받을 때에는 정보주체와의 계약 체결 등을 위하여 정보주체의 동의 없이 처리할 수 있는 개인정보와 정보주체의 동의가 필요한 개인정보를 구분해야 하며, 그 입증책임은 개인정보처리자가 부담합니다(「개인정보 보호법」 제22조제3항).
 개인정보처리자는 정보주체에게 재화나 서비스를 홍보하거나 판매를 권유하기 위하여 개인정보의 처리에 대한 동의를 받으려는 때에는 정보주체가 이를 명확하게 인지할 수 있도록 알리고 동의를 받아야 합니다(「개인정보 보호법」 제22조제4항).
 정보주체의 동의를 얻는 방법에 관한 위의 사항을 위반하여 동의를 얻은 자는 1천만원 이하의 과태료를 부과받습니다(「개인정보 보호법」 제75조제4항제2호).
 개인정보처리자는 개인정보의 처리에 대하여 다음의 어느 하나에 해당하는 방법으로 정보주체의 동의를 받아야 합니다(「개인정보 보호법」 제22조제7항 및 「개인정보 보호법 시행령」 제17조제1항).
 동의 내용이 적힌 서면을 정보주체에게 직접 발급하거나 우편 또는 팩스 등의 방법으로 전달하고, 정보주체가 서명하거나 날인한 동의서를 받는 방법
 전화를 통하여 동의 내용을 정보주체에게 알리고 동의의 의사표시를 확인하는 방법
 전화를 통하여 동의 내용을 정보주체에게 알리고 정보주체에게 인터넷주소 등을 통하여 동의 사항을 확인하도록 한 후 다시 전화를 통하여 그 동의 사항에 대한 동의의 의사표시를 확인하는 방법
 인터넷 홈페이지 등에 동의 내용을 게재하고 정보주체가 동의 여부를 표시하도록 하는 방법
 동의 내용이 적힌 전자우편을 발송하여 정보주체로부터 동의의 의사표시가 적힌 전자우편을 받는 방법
 그 밖에 위의 방법에 준하는 방법으로 동의 내용을 알리고 동의의 의사표시를 확인하는 방법
 개인정보처리자가 정보주체로부터 별도의 동의를 받거나, 선택적으로 동의할 수 있는 사항에 대한 동의를 받으려는 때에는 정보주체가 동의 여부를 선택할 수 있다는 사실을 명확하게 확인할 수 있도록 선택적으로 동의할 수 있는 사항 외의 사항과 구분하여 표시해야 합니다(「개인정보 보호법 시행령」 제17조제3항).
 개인정보처리자는 정보주체의 동의 없이 처리할 수 있는 개인정보와 정보주체의 동의가 필요한 개인정보를 구분한 것 중 정보주체가 선택적으로 동의할 수 있는 사항을 동의하지 않거나, 재화나 서비스를 홍보하거나 판매를 권유하기 위하여 개인정보의 처리하려는 경우 및 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공하려는 경우(이하 “목적 외 이용 등”이라 함)에 정보주체가 이에 동의하지 않는다는 이유로 정보주체에게 재화 또는 서비스의 제공을 거부해서는 안 됩니다(「개인정보 보호법」 제22조제5항).
 이를 위반하여 정보주체에게 위의 각 사실을 알리지 않은 자는 3천만원 이하의 과태료를 부과받습니다(「개인정보 보호법」 제75조제2항제2호).
정보주체 이외로부터 개인정보를 수집한 경우
 개인정보처리자가 정보주체 이외로부터 수집한 개인정보를 처리하는 때에는 정보주체의 요구가 있으면 즉시 다음의 모든 사실을 정보주체에게 알려야 합니다(「개인정보 보호법」 제20조제1항).
 개인정보의 수집 출처
 개인정보의 처리 목적
 개인정보 처리의 정지를 요구할 권리가 있다는 사실
    ※ 이를 위반하여 정보주체에게 위의 각 사실을 알리지 않은 자는 3천만원 이하의 과태료를 부과받습니다(「개인정보 보호법」 제75조제2항제3호).
 위에도 불구하고 처리하는 개인정보의 종류·규모, 종업원 수 및 매출액 규모 등을 고려하여 다음의 어느 하나에 해당하는 개인정보처리자가 정보주체 이외로부터 개인정보를 수집하여 처리하는 때에는 위의 모든 사항을 정보주체에게 알려야 합니다(「개인정보 보호법」 제20조제2항 본문 및 「개인정보 보호법 시행령」 제15조의2제1항).
1. 5만명 이상의 정보주체에 관하여 민감정보 또는 고유식별정보를 처리하는 자
2. 100만명 이상의 정보주체에 관하여 개인정보를 처리하는 자
※ 다만, 개인정보처리자가 수집한 정보에 연락처 등 정보주체에게 알릴 수 있는 개인정보가 포함되지 않은 경우에는 알릴 필요가 없습니다(「개인정보 보호법」 제20조제2항 단서).
 위 1, 2의 개인정보처리자는 개인정보의 수집 출처, 처리 목적 및 개인정보 처리의 정지를 요구할 권리가 있다는 사실을 서면·전화·문자전송·전자우편 등 정보주체가 쉽게 알 수 있는 방법으로 개인정보를 제공받은 날부터 3개월 이내에 정보주체에게 알려야 합니다(「개인정보 보호법」 제20조제1항 및 「개인정보 보호법 시행령」 제15조의2제2항 본문).
 이를 위반하여 정보주체에게 위의 각 사실을 알리지 않은 자는 3천만원 이하의 과태료가 부과됩니다(「개인정보 보호법」 제75조제2항제3호).
 다만, 다음의 사항에 대하여 정보주체의 동의를 받은 범위에서 연 2회 이상 주기적으로 개인정보를 제공받아 처리하는 경우에는 개인정보를 제공받은 날부터 3개월 이내에 정보주체에게 알리거나 그 동의를 받은 날부터 기산하여 연 1회 이상 정보주체에게 알려야 합니다(「개인정보 보호법」 제17조제2항제1호부터 제4호까지 및 「개인정보 보호법 시행령」 제15조의2제2항 단서).
    √ 개인정보를 제공받는 자
    √ 개인정보를 제공받는 자의 개인정보 이용 목적
    √ 제공하는 개인정보의 항목
    √ 개인정보를 제공받는 자의 개인정보 보유 및 이용 기간
 또한, 1, 2의 개인정보처리자는 위와 같이 개인정보의 수집 출처 등을 정보주체에게 알린 경우 다음의 사항을 해당 개인정보를 파기할 때까지 보관·관리해야 합니다(「개인정보 보호법 시행령」 제15조의2제3항).
    √ 정보주체에게 알린 사실
    √ 알린 시기
    √ 알린 방법
 다음의 어느 하나에 해당하는 경우에는 정보주체에게 위의 사실을 알릴 필요가 없습니다. 다만, 정보주체의 권리보다 명백히 우선하는 경우에 한합니다(「개인정보 보호법」 제20조제4항).
 고지를 요구하는 대상이 되는 개인정보가 다음의 어느 하나에 해당하는 개인정보파일에 포함되어 있는 경우
    √ 국가 안전, 외교상 비밀, 그 밖에 국가의 중대한 이익에 관한 사항을 기록한 개인정보파일
    √ 범죄의 수사, 공소의 제기 및 유지, 형 및 감호의 집행, 교정처분, 보호처분, 보안관찰처분과 출입국관리에 관한 사항을 기록한 개인정보파일
    √ 「조세범 처벌법」에 따른 범칙행위 조사 및 「관세법」에 따른 범칙행위 조사에 관한 사항을 기록한 개인정보파일
    √ 공공기관의 내부적 업무처리만을 위하여 사용되는 개인정보파일
    √ 다른 법령에 따라 비밀로 분류된 개인정보파일 고지로 인하여 다른 사람의 생명·신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해할 우려가 있는 경우 목적 외 이용·제공의 제한
 개인정보처리자는 개인정보를 수집·이용 범위를 초과하여 이용하거나 제3자에 대한 제공범위를 초과하여 제3자에게 제공해서는 안 됩니다(「개인정보 보호법」 제18조제1항).
 다음의 어느 하나에 해당하는 경우에는 정보주체 또는 제3자의 이익을 부당하게 침해할 우려가 있을 때를 제외하고는 개인정보를 목적 외 이용 등을 할 수 있습니다. 다만, 이용자(「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제2조제1항제4호에 해당하는 자를 말를 말함)의 개인정보를 처리하는 정보통신서비스 제공자(같은 법 제2조제1항제3호에 해당하는 자를 말함)의 경우 아래 1. 및 2.의 경우로 한정하고, 아래 5.부터 9.까지의 경우는 공공기관의 경우로 한정합니다(「개인정보 보호법」 제18조제2항).
1. 정보주체로부터 별도의 동의를 받은 경우
 개인정보처리자가 정보주체로부터 동의를 받을 때에는 다음의 사항을 정보주체에게 알려야 합니다. 다음의 어느 하나의 사항을 변경하는 경우에도 이를 알리고 동의를 받아야 합니다(「개인정보 보호법」 제18조제3항).
    √ 개인정보를 제공받는 자
    √ 개인정보의 이용 목적(제공 시에는 제공받는 자의 이용 목적을 말함)
    √ 이용 또는 제공하는 개인정보의 항목
    √ 개인정보의 보유 및 이용 기간(제공 시에는 제공받는 자의 보유 및 이용 기간을 말함)
    √ 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용
    ※ 이를 위반하여 정보주체에게 알려야 할 사항을 알리지 않은 자는 3천만원 이하의 과태료를 부과받습니다(「개인정보 보호법」 제75조제2항제1호).
2. 다른 법률에 특별한 규정이 있는 경우
3. 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 미리 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우
5. 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공하지 않으면 다른 법률에서 정하는 소관 업무를 수행할 수 없는 경우로서 개인정보 보호위원회의 심의·의결을 거친 경우
6. 조약, 그 밖의 국제협정의 이행을 위하여 외국정부 또는 국제기구에 제공하기 위하여 필요한 경우
7. 범죄의 수사와 공소의 제기 및 유지를 위하여 필요한 경우
8. 법원의 재판업무 수행을 위하여 필요한 경우
9. 형(刑) 및 감호, 보호처분의 집행을 위하여 필요한 경우
 이를 위반하여 개인정보를 이용하거나 제3자에게 제공한 자 및 그 사정을 알면서도 영리 또는 부정한 목적으로 개인정보를 제공받은 자는 5년 이하의 징역 또는 5천만원 이하의 벌금에 처해집니다(「개인정보 보호법」 제71조제2호).</pre>
        </div>
    </div>
    </main>
    <!--  
    JavaScript
    =============================================
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/lib/smoothscroll.js"></script>
    <script src="/js/home/plugins.js"></script>
    <script src="/js/home/main.js"></script>
    <script src="/js/home/register.js"></script>
  </body>
</html>