<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMU Hackathon</title>
    <link rel="stylesheet" href="/css/test.css">
    <link rel="stylesheet" type="text/css" href="/css/toggle.css">
</head>
<body bgcolor="black">
    <ul id="imgholder" class="imgs">
        <li><img class="left" src="/img/slide1.jpg"></li>
        <li><img class="center" src="/img/slide2.jpg"></li>
        <li><img class="right" src="/img/slide3.jpg"></li>
    </ul>
    <div class="info_text">
        <li class="title">TIME TRAVEL</li>
        <li class="singer">빈지노(Beenzino)</li>
    </div>
    <div class="bullets">
        <label class="left" for="slide1"><img src="/img/left.png"></label>
        <label class="play" for="slide2"><img src="/img/play.png"></label>
        <label class="right" for="slide3"><img src="/img/right.png"></label>
    </div>
</div>
<!--<div class="list">
    <p class="pl">Play List</p>
    <hr class="line">
</div>-->
</body>
</html>