<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- SEO -->
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://www.yourdomainname.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">
    
    
    <title>SMU Hackaton</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="images/favicon/apple-touch-icon.png">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="css/plugin.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    
    
    <!--Add toggle-->
    <link rel="stylesheet" type="text/css" href="css/toggle.css">
    <link rel="stylesheet" type="text/css" href="css/test.css">
    

 </head>

  <body bgcolor="black">
    
    
	
	<!-- Preloader Start -->
    <div id="preloader">
	  <div class="loader"></div>
    </div>
    <!-- Preloader End -->

    
    
    <!-- Home & Menu Section Start -->
    <header id="home" class="home-section">
        
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                
                  <!-- 여기가 로고랑 메뉴 사이 벌리기 클수록 많이 벌어짐-->
                    <div class="col-sm-6">
                        <div class="logo">
                            <a href="/">Rolling</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="navigation-menu">
                            <div class="navbar">
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav me-auto">
                                        <li class="nav-item"><a id="menu" style="color: #15FFFF" href="#home">Home <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li style="display: none;" id="mypage_menu"><a id="menu" style="color: #E0FB60;" href="#">MyList</a>
                                        </li>
                                        <li id="login_menu" class="nav-item"><a id="menu" style="color: #E0FB60;" href="login">Login</a>
                                        </li>
                                        <li id="signup_menu"><a id="menu" style="color: #E0FB60;" href="register">Sign up</a>
                                        </li>
                                        <li style="display: none;" id="logout_menu"><a id="menu" style="color: #E0FB60;">Logout</a>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="toggle" hidden> 
                                                <label for="toggle" class="toggleSwitch" style="border:2px solid #15FFFF">
                                                    <span class="toggleButton"></span>
                                                </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <!--play start-->
    <ul id="imgholder" class="imgs">
        <li><img class="left" src="/img/slide1.jpg"></li>
        <li><img class="center" src="/img/slide2.jpg"></li>
        <li><img class="right" src="/img/slide3.jpg"></li>
    </ul>
    <div class="info_text">
        <li class="title">TIME TRAVEL</li>
        <li class="singer">빈지노(Beenzino)</li>
    </div>
    <div class="bullets">
        <label class="left" for="slide1"><img src="/img/left.png"></label>
        <label class="play" for="slide2"><img src="/img/play.png"></label>
        <label class="right" for="slide3"><img src="/img/right.png"></label>
    </div>
    <!--play end-->
    
    
    
    
       
        
        
        
    <!-- Footer Start -->
    <footer style="background-color:rgba(3, 5, 33, 1)" class="footer-section">
    <!-- Contact Start -->
    <section id="contact" style="background-color:rgba(3, 5, 33, 1)" class="contact-us section-space-padding">
      <div class="container">
         <div class="row">
               <div style="text-align: center;" class="col-sm-20">
                       <h2 style="color: white;">Contact Our Team.</h2>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
               </div>
           </div>
           
           
          <div class="text-center margin-top-10 margin-bottom-50">
           <div class="row">
           
              <div class="col-md-4 col-sm-4">
               <div class="contact-us-detail">  
                <i class="fa fa-mobile color-6"></i>
                 <p><a href="tel:+01043398873">010-4339-8873</a></p>
                </div>
               </div>
              
              <div class="col-md-4 col-sm-4">
               <div class="contact-us-detail">
                <i class="fa fa-mail-reply color-5"></i>
                 <p><a href="mailto:rmrehd604@gmail.com">rmrehd604@gmail.com</a></p>
                </div>
               </div>
                
              <div class="col-md-4 col-sm-4">
               <div class="contact-us-detail">
                <i class="fa fa-clock-o color-3"></i>
                 <p>Mon - Fri 09:00 – 18:00</p>
                </div>
               </div>
             
              </div>
             </div>
           
        
        <div class="row">
          
          <div class="col-md-6">   
                
              <div class="row">
                 <form>
                   
           <div class="col-sm-6">
           <div class="form-group">
             <input type="text" id="name" class="form-control" placeholder="Your Name">
            </div>
                       </div>
               
                      <div class="col-sm-6">
             <div class="form-group">
            <input type="email" id="email" class="form-control" placeholder="Your Email">
            </div>
                       </div>
                       
                       <div class="col-sm-6">
             <div class="form-group">
             <input type="text" id="website" class="form-control" placeholder="Your Website">
              </div>
                         </div>
                         
                       <div class="col-sm-6">
             <div class="form-group">
             <input type="text" id="address" class="form-control" placeholder="Where are You From?">
              </div>
                         </div>
               
                        <div class="col-sm-12">
             <select id="subject" class="form-group form-control">
             <option value="" selected disabled>Subject</option>
             <option>Website Design & Development</option>
             <option>Wordpress Development</option>
             <option>Search Engine Optimization</option>
                           <option>Mobile Website</option>
             <option>I Want to General Talk</option>
                           <option>Other</option>
              </select>
                         </div>
               
                      <div class="col-sm-12">
             <div class="textarea-message form-group">
               <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
             </div>
                        </div>
                  
                  
                   <div class="text-center">      
                    <button type="submit" style="background-color:rgba(58, 48, 186, 1); width:50%;" class="btn btn-outline-secondary">Submit</button>
                   </div>
                      
                 </form>
                  
       </div>
              </div>
           
           
           <div class="col-md-6">   
             <div id="my-address" class="map space-set">
             <p>Map will not be display without Internet Connection.</p>
           </div>
          </div>
          
       
       </div>
      </div>
      
     <div class="margin-top-80 pull-right"> 
      <ul class="social-icon">
        <li><a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" target="_blank" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
     </div>
      
    </section>
    <br>
    <br>
    <br>
    <!-- Contact End -->
    </footer>
    <!-- Footer End -->
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- Back to Top End -->
    
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="/lib/flexslider/jquery.flexslider.js"></script>
    <script src="/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/lib/smoothscroll.js"></script>
    <script src="/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    
    <!-- All Javascript Plugins  -->
    <script src="js/home/plugins.js"></script>
    
    <!-- Main Javascript File  -->
    <script src="js/home/scripts.js"></script>
    <script src="js/home/main.js"></script>
  

  
  </body>
 </html>