<div class="relative bg-white" style="width: 1714px; height: 1021px;">
    <img class="relative absolute left-0 top-0" style="width: 1728px; height: 1021px;" src="https://via.placeholder.com/1728x1021">
        <p class="absolute text-sm font-bold text-white" style="left: 1517px; top: 22px;">LOGIN</p>
        <p class="absolute text-sm font-bold text-white" style="left: 1601px; top: 22px;">SIGN UP</p>
        <div class="w-20 h-6 absolute border rounded-md border-white" style="left: 1587px; top: 19px;"/>
        <div class="w-28 h-5 absolute bg-gray-500" style="left: 42px; top: 23px;"/>
        <div class="w-28 h-8 absolute bg-black" style="left: 267px; top: 10px;"/>
        <div class="absolute left-0 bottom-0 bg-white" style="width: 1659px; height: 945px;"/>
        <div class="w-96 h-10 absolute bg-white" style="left: 463px; top: 377px;"/>
        <div class="absolute bg-purple-700" style="width: 1728px; height: 335px; left: 0px; top: 62px;"/>
        <p class="absolute text-4xl leading-10 text-white" style="left: 251px; top: 145px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/>Lorem Ipsum has been the industry's standard </p>
        <p class="absolute text-xl leading-loose text-white" style="left: 251px; top: 265px;">- Lorem Ipsum </p>
        <div class="w-3 h-3 absolute bg-white rounded-full" style="left: 817px; top: 357px;"/>
        <div class="w-3 h-3 absolute bg-white rounded-full" style="left: 844px; top: 357px;"/>
        <div class="w-3 h-3 absolute bg-white rounded-full" style="left: 870px; top: 357px;"/>
        <div class="w-3 h-3 absolute border-2 rounded-full border-white" style="left: 896px; top: 357px;"/>
    </img>
    <div class="w-20 h-48 absolute right-0 bottom-0 bg-white"/>
    <img class="absolute left-0 bottom-0" style="width: 1842px; height: 471px;" src="https://via.placeholder.com/1842x471"/>
</div>